
// Fonts
$font-lato: "Lato", sans-serif;


// Colors

// Neutral
$neutral-100: #F9FAFB; 
$neutral-200: #F3F4F6;
$neutral-300: #E5E7EB;
$neutral-400: #D1D5DB;
$neutral-500: #9CA3AF;
$neutral-600: #6B7280;
$neutral-700: #4B5563;
$neutral-800: #374151;
$neutral-900: #1F2937;
$neutral-1000: #111827;

// Red
$red-100: #FEF2F2; 
$red-200: #FEE2E2;
$red-300: #FECACA;
$red-400: #FCA5A5;
$red-500: #F87171;
$red-600: #EF4444;
$red-700: #DC2626;
$red-800: #B91C1C;
$red-900: #991B1B;
$red-1000: #7F1D1D;

// Orange
$orange-100: #FFFBEB; 
$orange-200: #FEF3C7;
$orange-300: #FDE68A;
$orange-400: #FCD34D;
$orange-500: #FBBF24;
$orange-600: #F59E0B;
$orange-700: #D97706;
$orange-800: #B45309;
$orange-900: #92400E;
$orange-1000: #78350F;

// Green
$green-100: #ECFDF5; 
$green-200: #D1FAE5;
$green-300: #A7F3D0;
$green-400: #6EE7B7;
$green-500: #34D399;
$green-600: #10B981;
$green-700: #059669;
$green-800: #047857;
$green-900: #065F46;
$green-1000: #064E3B;

// Blue
$blue-100: #ECFDF5; 
$blue-200: #DBEAFE;
$blue-300: #BFDBFE;
$blue-400: #93C5FD;
$blue-500: #60A5FA;
$blue-600: #3B82F6;
$blue-700: #2563EB;
$blue-800: #1D4ED8;
$blue-900: #1E40AF;
$blue-1000: #1E3A8A;

// Indigo
$indigo-100: #EEF2FF; 
$indigo-200: #E0E7FF;
$indigo-300: #C7D2FE;
$indigo-400: #A5B4FC;
$indigo-500: #818CF8;
$indigo-600: #6366F1;
$indigo-700: #4F46E5;
$indigo-800: #4338CA;
$indigo-900: #3730A3;
$indigo-1000: #312E81;

// Violet
$violet-100: #F5F3FF; 
$violet-200: #EDE9FE;
$violet-300: #DDD6FE;
$violet-400: #C4B5FD;
$violet-500: #A78BFA;
$violet-600: #8B5CF6;
$violet-700: #7C3AED;
$violet-800: #6D28D9;
$violet-900: #5B21B6;
$violet-1000: #4C1D95;

// Pink
$pink-100: #FDF2F8; 
$pink-200: #FCE7F3;
$pink-300: #FBCFE8;
$pink-400: #F9A8D4;
$pink-500: #F472B6;
$pink-600: #EC4899;
$pink-700: #DB2777;
$pink-800: #BE185D;
$pink-900: #9D174D;
$pink-1000: #831843;
