/*
Styles for form elements, input fields, buttons, etc.
*/

form {
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  max-width: 25%;
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
  }

  // Hide Arrow from number input

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:focus {
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
  }

  input[type="submit"] {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: left;
    vertical-align: top;
    padding: calc(0.375rem - 3px) 60px calc(0.375rem - 3px) 12px;
    background-color: rgb(15, 98, 254);
    font-size: 14px;
    letter-spacing: 0.16px;
    min-height: 32px;
    line-height: 1.29;
    color: #fff;
    font-weight: 400;
    transition: background 70ms cubic-bezier(0, 0, 0.38, 0.9),
      box-shadow 70ms cubic-bezier(0, 0, 0.38, 0.9),
      border-color 70ms cubic-bezier(0, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0, 0, 0.38, 0.9);
  }

  input[type="submit"]:hover {
    background-color: #0353e9;
  }

  .input-radio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;

    input {
      display: none;
    }

    .radio__radio {
      width: 0.5em;
      height: 0.5em;
      border: 1px solid #161616;
      border-radius: 50%;
      margin-right: 0.25rem;
      padding: 4px;
    }

    .radio__radio::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #161616;
      border-radius: 50%;
      transform: scale(0);
    transition: background 70ms cubic-bezier(0, 0, 0.38, 0.9),
      box-shadow 70ms cubic-bezier(0, 0, 0.38, 0.9),
      border-color 70ms cubic-bezier(0, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0, 0, 0.38, 0.9);
    }

    input:checked + .radio__radio::after {
      transform: scale(1);
    }
  }

  .form-input {
    margin-bottom: 2rem;
  }

  fieldset {
    legend {
      margin-bottom: 0.25rem;
    }
  }
  .form-title {
    margin-bottom: 1.75rem;
  }
}
